/*
    NNN website.

    This file is part of the NNN website.

    Authors:
        Diana Mujahed <diana.muj98@gmail.com>
        Amir Altakroori <ameertakrouri99@gmail.com>
        Ibrahim Abusamrah <ibrahim.abusamrah123@gmail.com>

    File description:
        This file contains style code for the category page.
*/
/*
    NNN website.

    This file is part of the NNN website.

    Authors:
        Aseel Arafeh <arafehaseel@gmail.com>
        Suhair Shareef <suhairshareef1999@gmail.com>

    File description:
        This file contains shared variables used for different page tags.
*/
/*
    NNN website.

    This file is part of the NNN website.

    Authors:
        Aseel Arafeh <arafehaseel@gmail.com>
        Suhair Shareef <suhairshareef1999@gmail.com>
        Latifa Masri <latifa.masri1998@gmail.com>

    File description:
        This file contains shared functions used for different page style.
*/
/*
    NNN website.

    This file is part of the NNN website.

    Authors:
        Aseel Arafeh <arafehaseel@gmail.com>
        Suhair Shareef <suhairshareef1999@gmail.com>

    File description:
        This file contains shared variables used for different page tags.
*/
@media screen and (min-height: 901px) {
  .main-category-section .right-sidebar .right-side-image {
    height: 173px;
    width: 309px;
    font-size: 17px; }
  .main-category-section .main-section .main-news {
    width: 907px; }
    .main-category-section .main-section .main-news #category-main-news-image {
      height: 510px; }
    .main-category-section .main-section .main-news #category-main-news-title {
      font-size: 28px;
      margin-bottom: 2%; }
    .main-category-section .main-section .main-news #category-main-news-writer,
    .main-category-section .main-section .main-news #category-main-news-date {
      font-size: 14px; }
    .main-category-section .main-section .main-news #category-main-news-writng-details img {
      width: 12px; }
    .main-category-section .main-section .main-news p {
      font-size: 20px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      text-align: justify;
      text-justify: auto; }
    .main-category-section .main-section .main-news #category-see-more img {
      height: 15px;
      width: 7.5px; }
    .main-category-section .main-section .main-news #category-see-more p {
      font-size: 20px; }

  .random-new {
    font-size: 15px; }
    .random-new img {
      width: 174px;
      height: 97px;
      margin-left: 10px; }
    .random-new a {
      width: 170px; }

  .title {
    font-size: 22px;
    margin: 3px; }

  .category-view-name {
    font-size: 30px;
    padding-right: 50px; }

  .card {
    margin: 5px 0 5px 5px; }

  .right-col {
    right: 50px;
    top: 30px; }

  .left-col {
    left: 50px; }
    .left-col ul {
      border-top-width: 2px;
      padding-top: 20px; }

  .relates-news {
    margin-right: 40px;
    width: 100%; }
    .relates-news .related-news-left {
      float: right;
      width: 670px; }
      .relates-news .related-news-left #related-news-menu-left {
        padding: 0px; }
      .relates-news .related-news-left ul li {
        width: 672px;
        margin-bottom: 42px;
        margin-top: 42px; }
        .relates-news .related-news-left ul li img {
          height: 160px;
          width: 280px;
          margin-left: 10px;
          padding: 10px; }
        .relates-news .related-news-left ul li p {
          padding-top: 45px;
          padding-bottom: 45px;
          font-size: 25px;
          width: 345px;
          height: 118px; }
    .relates-news .related-new-right ul li img {
      margin-left: 10px; } }
@media screen and (max-height: 900px) {
  .main-category-section .right-sidebar .right-side-image {
    height: 144px;
    width: 257.5px;
    font-size: 15px; }
  .main-category-section .main-section .main-news {
    width: 755.8px; }
    .main-category-section .main-section .main-news #category-main-news-image {
      height: 425px; }
    .main-category-section .main-section .main-news #category-main-news-title {
      font-size: 23.3px;
      margin-bottom: 1.66667%; }
    .main-category-section .main-section .main-news #category-main-news-writer,
    .main-category-section .main-section .main-news #category-main-news-date {
      font-size: 12px; }
    .main-category-section .main-section .main-news #category-main-news-writng-details img {
      width: 10px; }
    .main-category-section .main-section .main-news p {
      font-size: 20px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      text-align: justify;
      text-justify: auto; }
    .main-category-section .main-section .main-news #category-see-more img {
      height: 12.5px;
      width: 6.25px; }
    .main-category-section .main-section .main-news #category-see-more p {
      font-size: 20px; }

  .random-new {
    font-size: 13px; }
    .random-new img {
      width: 145px;
      height: 80.8333px;
      margin-left: 8.333px; }
    .random-new a {
      width: 141.66667px; }

  .title {
    font-size: 20px;
    margin: 2.5px; }

  .category-view-name {
    font-size: 28px;
    padding-right: 41.66667px; }

  .card {
    margin: 4.2px 0 4.2px 4.2px; }

  .right-col {
    right: 41.66667px;
    top: 25px; }

  .left-col {
    left: 41.66667px; }
    .left-col ul {
      border-top-width: 1.66667px;
      padding-top: 16.66667px; }

  .relates-news {
    margin-right: 33.333px;
    width: 100%; }
    .relates-news .related-news-left {
      float: right;
      width: 558.333px; }
      .relates-news .related-news-left #related-news-menu-left {
        padding: 0px; }
      .relates-news .related-news-left ul li {
        width: 560px;
        margin-bottom: 35px;
        margin-top: 35px; }
        .relates-news .related-news-left ul li img {
          height: 133.333px;
          width: 233.333px;
          margin-left: 8.333px;
          padding: 8.333px; }
        .relates-news .related-news-left ul li p {
          padding-top: 37.5px;
          padding-bottom: 37.5px;
          font-size: 23px;
          width: 287.5px;
          height: 98.333px; }
    .relates-news .related-new-right ul li img {
      margin-left: 89.333px; } }
@media screen and (max-height: 810px) {
  .main-category-section .right-sidebar .right-side-image {
    height: 130px;
    width: 231px;
    font-size: 12.5px; }
  .main-category-section .main-section .main-news {
    width: 680px; }
    .main-category-section .main-section .main-news #category-main-news-image {
      height: 380px; }
    .main-category-section .main-section .main-news #category-main-news-title {
      font-size: 21px; }
    .main-category-section .main-section .main-news #category-main-news-writer,
    .main-category-section .main-section .main-news #category-main-news-date {
      font-size: 10.5px; }
    .main-category-section .main-section .main-news #category-main-news-writng-details img {
      width: 9px; }
    .main-category-section .main-section .main-news p {
      font-size: 15px; }
    .main-category-section .main-section .main-news #category-see-more img {
      height: 11.5px;
      width: 5.5px; }
    .main-category-section .main-section .main-news #category-see-more p {
      font-size: 15px; }

  .random-new {
    font-size: 14px; }
    .random-new img {
      width: 130px;
      height: 72px;
      margin-left: 7.5px; }
    .random-new a {
      width: 127.5px; }

  .title {
    font-size: 16px;
    margin: 2.25px; }

  .category-view-name {
    font-size: 22.5px;
    padding-right: 37.5px; }

  .card {
    margin: 3.75px 0 3.75px 3.75px; }

  .right-col {
    right: 37.5px;
    top: 22.5px; }

  .left-col {
    left: 37.5px; }
    .left-col ul {
      border-top-width: 1.5px;
      padding-top: 15px; }

  .relates-news {
    margin-right: 30px;
    width: 100%; }
    .relates-news .related-news-left {
      float: right;
      width: 502.5px; }
      .relates-news .related-news-left #related-news-menu-left {
        padding: 0px; }
      .relates-news .related-news-left ul li {
        width: 504px;
        margin-bottom: 31.5px;
        margin-top: 31.5px; }
        .relates-news .related-news-left ul li img {
          height: 120px;
          width: 210px;
          margin-left: 7.5px;
          padding: 7.5px; }
        .relates-news .related-news-left ul li p {
          padding-top: 33.75px;
          padding-bottom: 33.75px;
          font-size: 18.75px;
          width: 258.75px;
          height: 88.5px; }
    .relates-news .related-new-right ul li img {
      height: 120x;
      width: 210px;
      margin-left: 7.5px; } }
@media screen and (max-height: 768px) {
  .main-category-section .right-sidebar .right-side-image {
    height: 123px;
    width: 219px;
    font-size: 12px; }
  .main-category-section .main-section .main-news {
    width: 645px; }
    .main-category-section .main-section .main-news #category-main-news-image {
      height: 362px; }
    .main-category-section .main-section .main-news #category-main-news-title {
      font-size: 20px; }
    .main-category-section .main-section .main-news #category-main-news-writer,
    .main-category-section .main-section .main-news #category-main-news-date {
      font-size: 10px; }
    .main-category-section .main-section .main-news #category-main-news-writng-details img {
      width: 8.5px; }
    .main-category-section .main-section .main-news p {
      font-size: 14px; }
    .main-category-section .main-section .main-news #category-see-more img {
      width: 5.5px;
      height: 10.5px; }
    .main-category-section .main-section .main-news #category-see-more p {
      font-size: 14px; }

  .random-new {
    font-size: 13.5px; }
    .random-new img {
      width: 124px;
      height: 70px;
      margin-left: 7px; }
    .random-new a {
      width: 121px; }

  .title {
    font-size: 15.5px;
    margin: 2px; }

  .category-view-name {
    font-size: 21.5px;
    padding-right: 35.5px; }

  .card {
    margin: 3.5px 0 3.5px 3.5px; }

  .right-col {
    right: 35.5px;
    top: 21.5px; }

  .left-col {
    left: 35.5px; }
    .left-col ul {
      border-top-width: 1.4px;
      padding-top: 14px; }

  .relates-news {
    margin-right: 28.4px;
    width: 100%; }
    .relates-news .related-news-left {
      float: right;
      width: 476.4px; }
      .relates-news .related-news-left #related-news-menu-left {
        padding: 0px; }
      .relates-news .related-news-left ul li {
        width: 477.9px;
        margin-bottom: 29.9px;
        margin-top: 29.9px; }
        .relates-news .related-news-left ul li img {
          height: 113.8px;
          width: 199.1px;
          margin-left: 7.1px;
          padding: 7.1px; }
        .relates-news .related-news-left ul li p {
          padding-top: 32px;
          padding-bottom: 32px;
          font-size: 17.8px;
          width: 245.3px;
          height: 83.9px; }
    .relates-news .related-new-right ul li img {
      height: 113.8x;
      width: 199.1px;
      margin-left: 7.1px; } }
a {
  text-decoration: none;
  color: #707070; }

.main-category-section {
  overflow: hidden;
  width: 100%; }
  .main-category-section .centered-img-background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; }
  .main-category-section .right-sidebar {
    float: right;
    width: 23.34%; }
    .main-category-section .right-sidebar .news-list {
      overflow: hidden; }
      .main-category-section .right-sidebar .news-list .news {
        float: left;
        margin-bottom: 6%;
        cursor: pointer; }
        .main-category-section .right-sidebar .news-list .news .right-side-image {
          position: relative;
          overflow: hidden; }
          .main-category-section .right-sidebar .news-list .news .right-side-image span {
            color: #ffffff;
            position: absolute;
            bottom: 0;
            padding: 3%;
            word-wrap: break-word; }
  .main-category-section .main-section {
    float: left;
    width: 75%;
    margin-right: 1.66%;
    position: relative; }
    .main-category-section .main-section .main-news {
      overflow: hidden; }
      .main-category-section .main-section .main-news #category-main-news-writng-details,
      .main-category-section .main-section .main-news .see-more {
        margin-left: 3%; }
      .main-category-section .main-section .main-news .details {
        margin: 1%;
        overflow: hidden; }
        .main-category-section .main-section .main-news .details h3 {
          float: right;
          color: #4d4f5c;
          width: 55%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .main-category-section .main-section .main-news .details #category-main-news-writng-details {
          width: 42%;
          float: left;
          direction: ltr; }
          .main-category-section .main-section .main-news .details #category-main-news-writng-details * {
            display: inline;
            margin-right: 3%;
            color: #919192;
            word-wrap: break-word; }
        .main-category-section .main-section .main-news .details #category-main-news-content-news {
          display: inline-block;
          color: #707070;
          box-sizing: border-box; }
      .main-category-section .main-section .main-news #category-see-more {
        float: left;
        width: 30%;
        direction: ltr;
        margin-left: 2%; }
        .main-category-section .main-section .main-news #category-see-more * {
          display: inline;
          color: #0c4d6d; }

.category-view-container {
  display: flex;
  justify-content: space-between; }

.title {
  color: #0C4D6D; }

.card {
  display: flex;
  align-items: center; }

.right-col {
  width: 80%;
  position: relative; }

.left-col {
  width: 20%;
  position: relative; }
  .left-col ul {
    border-top-color: #cccccc;
    border-top-style: solid; }

.random-new a {
  text-decoration: none; }

.category-view-name {
  color: #0C4D6D;
  color: #0C4D6D;
  padding-top: 2%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  text-justify: auto; }

#category-main-news-date {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  text-justify: auto; }

#category-see-more p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  text-justify: auto; }

.relates-news .related-news-left ul li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  list-style-type: none; }
  .relates-news .related-news-left ul li p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    text-justify: auto;
    font-family: Regular; }

/*# sourceMappingURL=categories.css.map */
