/*
    NNN website.

    This file is part of the NNN website.

    Authors:
        Suhair Shareef <suhairshareef1999@gmail.com>

    File description:
        This file contains style code for the index file.
*/

@import './variables';
@import './functions';
@include initialFormat();
@media print {
    .footer {
        visibility: hidden;
    }
    .header {
        visibility: hidden;
    }
}

@media screen and (min-height: 901px) {
    .logo-img {
        height: 110px;
    }
    .footer {
        .footer-right {
            img {
                height: 110px;
            }
        }
    }
    .navbar {
        font-size: 20px;
    }
}

@media screen and (max-height: 900px) {
    .logo-img {
        height: 91px;
    }
    .footer {
        .footer-right {
            img {
                height: 91px;
            }
        }
    }
    .navbar {
        font-size: 16.66667px;
    }
}

@media screen and (max-height: 810px) {
    .logo-img {
        height: 82.5px;
    }
    .footer {
        .footer-right {
            img {
                height: 82.5px;
            }
        }
    }
    .navbar {
        font-size: 14.22px;
    }
}

@media screen and (max-height: 768px) {
    .logo-img {
        height: 78.2222px;
    }
    .footer {
        .footer-right {
            img {
                height: 78.2222px;
            }
        }
    }
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    min-width: 1352px;
    min-height: 649px;
    .root {
        @include positioning (relative, 0, auto, auto, auto);
        background-color: $website-background;
        min-width: 1352px;
        min-height: 649px;
        .header {
            z-index: 1;
            background-color: white;
            min-height: 87.65px;
            min-width: 1368px;
            @include flexFunction(center, center, 100%, 13.658%, row);
            @include positioning (fixed, 0, auto, auto, auto);
            .navbar {
                @include flexFunction(space-between, center, 100%, 58.644%, row);
                @include positioning (absolute, 0, auto, 0, 0);
                flex-flow: nowrap;
                min-height: 52px;
                .navbar-right {
                    @include flexFunction(space-between, center, 85%, 100%, row);
                    @include positioning (absolute, 0, auto, auto, 0.1042%);
                    .logo-img {
                        width: 165px;
                        margin-right: 10px;
                    }
                    .categories-container {
                        width: 85%;
                        height: 100%;
                        @include positioning (absolute, 0px, auto, 0, auto);
                        .tab {
                            color: $font-color;
                            width: 13%;
                            padding-top: 1%;
                            padding-bottom: 1%;
                            text-align: center;
                            border-block-start: solid 5px white;
                            font-weight: 300;
                            &:hover {
                                border-block-start: solid 5px $main-color;
                                font-weight: 450;
                                cursor: pointer;
                            }
                        }
                        .active {
                            border-block-start: solid 5px $main-color;
                        }
                        .expand {
                            &:hover {
                                position: absolute;
                            }
                            cursor: pointer;
                        }
                        .sub-menu {
                            align-items: center;
                            justify-content: center;
                            min-height: 100%;
                            @include positioning (sticky, 20px, auto, 0, auto);
                            z-index: 1;
                            display: none;
                            background-color: $main-color;
                            color: $website-background;
                            width: 100%;
                            font-weight: 300;
                            height: 100%;
                            .sub-item {
                                width: 100%;
                                height: 100%;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                a {
                                    color: $button-font-color;
                                    text-decoration: none;
                                    padding: 3px;
                                }
                            }
                            .sub-item:hover {
                                font-weight: 450;
                                background-color: rgba(221, 214, 214, 0.34);
                            }
                        }
                        li {
                            display: inline-block;
                            font-size: $font-size;
                            margin-top: 0;
                            &:hover {
                                font-weight: 450;
                                ul {
                                    display: inline-block;
                                }
                            }
                            a {
                                color: $font-color;
                                text-decoration: none;
                            }
                        }
                        .expand-button {
                            height: 16px;
                            padding-top: 6px;
                            padding-right: 3px;
                        }
                    }
                }
                .navbar-left {
                    width: 10%;
                    height: 100%;
                    @include positioning (absolute, 0, auto, 0, auto);
                    .login-button {
                        @include createButton($main-color, none, $button-font-color, 3.705% 9.25%, center, $button-font-size);
                        @include positioning (absolute, 22.254%, auto, 13.67%, auto);
                        font-weight: 300;
                        font-size: 100%;
                        border-radius: 5%;
                        -webkit-transition-duration: 0.4s;
                        transition-duration: 0.4s;
                        &:hover {
                            opacity: 0.7;
                            cursor: pointer;
                            transition: all 0.6s
                        }
                    }
                }
            }
        }
    }
}

.new-footer {
  background-color: #C2C2C2;
  color: #000;
  line-height: 1.5;
  width: 100%;
  display: flex;
  color: 000;
  position: relative;


   a {
     img {
       width: 150px;
     }
   }
}

.footer-bottom {
  width: 100%;
  padding: 2px;
  color: #bbb;
  background-color: #858585;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}


.view-root {
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 2%;
    .view {
        position: relative;
        width: 100%;
        height: auto;
        background-color: white;
    }
}

.text-overflow {
    width: 100% !important;
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    text-overflow: ellipsis !important;
}

.one-line-text-overflow {
    -webkit-line-clamp: 1 !important;
}

.two-line-text-overflow {
    -webkit-line-clamp: 2 !important;
}

.footer {
    position: relative;
}