.categories-add-button {
  min-width: 80px;
  min-height: 70px;
  font-weight: 700;
  color: white;
  background: #27ae60;
  text-align: center;
  cursor: pointer;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories-add-button:hover {
  background: #1e8449;
}

.categories-modal-base {
  outline: none;
  left: 0;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: none;
}

.categories-modal {
  outline: none;
  border-radius: 27px;
  min-width: 300px;
  max-width: 500px;
  min-height: 200px;
  max-height: 300px;
  color: #27ae60;
  background-color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.categories-modal-input {
  min-height: 30px;
  min-width: 200px;
  max-width: 300px;
  color: #27ae60;
  font-weight: 700;
  font-size: 20px;
}

.categories-save-button {
  margin-top: 5%;
  background-color: #27ae60;
  cursor: pointer;
  border: none;
  min-width: 200px;
  min-height: 50px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.categories-button-close {
  position: absolute;
  right: 2%;
  top: 0;
  color: #27ae60;
  font-size: 28px;
  font-weight: bold;
}

.categories-button-close:hover,
.categories-button-close:focus {
  color: #000;
  cursor: pointer;
}

.add-button {
  min-width: 80px;
  min-height: 70px;
  font-weight: 700;
  color: white;
  background: white;
  text-align: center;
  cursor: pointer;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-button:hover {
  background: #e6e6e6;
}

.createcategory-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation: fade-in 0.2s ease-in forwards;
          animation: fade-in 0.2s ease-in forwards;
}

#modal-header-for-adding {
  border-top-left-radius: 20px;
  padding: 10px;
  margin: 0;
  border-top-right-radius: 20px;
}

.createcategory-flex-container-center-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

#createcategory-modalcontent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin: auto;
  border: 1px solid #888;
  width: 300px;
  border-radius: 20px;
}

#createcategory-btn {
  width: 100%;
  min-height: 50px;
  font-weight: 700;
  border: none;
  color: white;
  font-size: 20px;
  background-color: #27ae60;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#createcategory-btn:hover {
  cursor: pointer;
  background: #1e8449;
}

#editcategoryname {
  height: 42px;
  font-size: 16px;
}

#categoryname {
  min-width: 170px;
  min-height: 50px;
  font-size: 18px;
  font-weight: 400;
  color: black;
  border: 1px solid #ccc;
  padding: 1%;
  margin-top: 10px;
}

#close {
  color: #383636;
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 25px;
  font-weight: bold;
}

#close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cat-centered-row {
  width: 101%;
  text-align: center;
}
/*# sourceMappingURL=categories.css.map */