$background-color: #3a2275;
$box-color: white;
$btn-color: #57b846;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}

.login-content {
  background: white;
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.flex-box-30 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: 80%;
}
.flex-box-70 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
    background: url("./../../../img/loginbackground.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 72%;
  padding: 50px 50px 150px 320px;
  overflow: hidden;
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    right: 100%;
    width: 10000px;
    height: 100%;
    background-color: #fff;
    transform-origin: bottom right;
    -webkit-transform: skewX(156deg);
    -moz-transform: skewX(156deg);
    -ms-transform: skewX(156deg);
    -o-transform: skewX(156deg);
    transform: skewX(156deg);
  }
}

.logo {
  z-index: 2;

  img {
    width: 200px;
    height: 100px;
    opacity: 1;
  }
}

.form-box {
  height: 100%;
  width: 80%;
  form{
    height: inherit;
    width: 100%;
  }
}

.log-form {
  margin: 20px;
  padding: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  div{
    margin:10px 0;
    width: 100%;
    input{
      height: 50px;
      width: 100%;
      margin-top: 5px;
     
    }
  }
}

.username {
  margin-bottom: 15px;
}

.password {
  margin-bottom: 15px;
}

.btn {
  input {
    background-color: $btn-color;
    border: 1px solid $btn-color;
    color: white;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    border-radius: 6px;
  }
  &:hover {
    input {
      background-color: darken($btn-color, 10%);
      border: 1px solid darken($btn-color, 10%);
      transition: all 0.2s;
    }
  }
}